.Input {
  margin: 0.25rem 0.5rem;
}

.Input > * {
  display: block;
}

.Input input {
	background: var(--background);
	color: var(--white);
	padding: 0.5rem;
	border: 1px solid #111;
}
.Input input:focus {
  border-color: var(--white);
  outline: none;
}
.Input.error input {
  border-color: var(--error);
  color: var(--error);
}
.Input.error .Input__error-message {
  color: var(--error);
}

.Input__label, .Input__error-message {
	margin: 0.25rem 0;
	font-size: 10pt;
}